@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: au;
}

html {
  font-family: "Roboto", sans-serif;
  color: #b9314f;
  display: flex;
  text-align: center;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  padding-bottom: 0.5em;
}

.section {
  background-color: #414066;
  display: flex;
  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.2em;
}

.section:first-of-type {
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.section:nth-child(odd) {
  background-color: #dda15e;
}

.header {
  background-color: #dda15e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #b9314f;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b9314f;
}

.nav-link:hover {
  color: #283618;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #b9314f;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #43aa8b;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
